<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'listar_prod' %}">Ver lista de productos</a>    
    <a href="{% url 'prod' %}">Agregar un producto</a>

    <a href="{% url 'listM' %}">Ver lista de mascotas</a>
    <a href="{% url 'ag_mascota' %}">Agregar mascotas</a>

    <a href="{% url 'clie_list' %}">Ver lista de clientes</a>
    <a href="{% url 'clie' %}">Agregar un cliente</a>
    
    <Br>Datos curiosos sobre gatos: {{api}}
</body>

</html>